.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: gray;
}

/* .main {
    display: flex;
} */
/* .menu { */
    /* margin-right: 750px; */
    /* display: flex;
    justify-content: flex-start; */
   
/* } */