.example-card {
    margin-top: 30px;
    margin-left: 50px;
    max-width: 350px;
}

.title {
    margin-left: 8px;
    color: white;
}

.content {
    /* border-style: dotted; */
    cursor: not-allowed;
    color: #d2c9c9;
}

textarea {
    background-color: #eee;
    cursor: not-allowed;
    resize: vertical;
}