.example-card {
    margin-top: 30px;
    margin-left: 50px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(216, 187, 187);
}

.title {
    margin-left: 8px;
    color: white;
}

.content {
    cursor: not-allowed;
    color: #d2c9c9;
}

textarea {
    background-color: #eee;
    cursor: not-allowed;
    resize: vertical;
    width: 300px;
}