<mat-card class="posts">
    <mat-card-actions>
        <div class="active-city">
            <div class="city-info">
                <mat-card-title>{{cityData[cityId].city}}</mat-card-title>
                <mat-card-subtitle>{{cityData[cityId].country}}</mat-card-subtitle>
                <img class="city-image" src="{{cityData[cityId].imgAddres}}">
            </div>

            <div class="city-posts">
                <mat-card-title>Posts</mat-card-title>
                <app-post-card></app-post-card>
            </div>
        </div>
    </mat-card-actions>
</mat-card>